ul {
    width: 50%;
    height: 2cm;
    padding: 1cm 0 0 0;
    border:green dotted  20px;
    
}
li {
    position: relative;
    background: lightseagreen;
    height: 1cm;
    padding: 3mm;
    list-style: none;
    display: inline-block;
    left: 350px;
    top: -15px;
}